/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS declarations go here */

html{
	font-size: 16px;
	line-height: 1em;
	font-family: 'Open Sans', sans-serif;
	background: #333;
}

body{
	background: url(images/bkg_watermark.png) center 10% no-repeat #eee;
	background-size: 100%;
	background-attachment: fixed;
	line-height: 1;
	max-width: 600px;
}

#navigation{
	background: #00adee;
	color: #fff;
	overflow: hidden;
	max-height: 4em;
}
#logo img{
	padding: 1.25em 0 1em 0.75em;
	width: 200px;
	float: left;
}
#actionCalls {
	float: right;
}
#actionCalls div {
	float: left;
}
#actionCalls div {
	background: #00adee url(images/nav-div.png) left top repeat-y;
	padding: 1.5em 0;
	display: inline-block;
	font-size: 1em;
}
.donate {
	background: url(images/nav-donate.png) 1em no-repeat #f6953a !important;
	background-size: 1.25em;
	padding-left: 1.75em !important;
	height: 1em;
}
#actionCalls div span {
	padding: 0 1em;
}

#presentation{
}
#presentation img{
	display: block;
	margin: 1em auto;
	width: 94%;
	height: auto;
	border: 1px solid #DDD;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

#login{
	padding: 40px 10px;
	max-width: 200px;
	margin: 10% auto 0;
	background: #fff;
	text-align: center;
}
#login input{
	width: 100%;
}

#presentation{
	position: relative;
}

.add_vote{
	background: grey;
	height: 20px;
	width: 20px;
}
.remove_vote{
	background: orange;
	height: 20px;
	width: 20px;
}

.comments, .feedback{
	list-style: none;
	width: 96%;
	margin: 0 auto 1em;
}
.add_comment {
	border: 1px solid #ddd;
}
.comment{
	margin: 0 auto 1em;
	width: 98%;
}
.comment__details{
	background: #fff;
	padding: 8px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.comment__user{
	float: left;
}
.comment__feedback{
	float: right;
}
.comment__text{
	background: rgba(220, 240, 255, 0.4);
	border: 1px solid #ddd;
	border-top: none;
	padding: 8px;
}

#prev,
#next{
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
}
#prev{
	left: 0;
}
#next{
	right: 0;
}
