/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS declarations go here */

html{
	font-size: 16px;
	line-height: 1em;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: url(images/bkg_watermark.png) center 10% no-repeat #eee;
	background-size: 100%;
	background-attachment: fixed;
	line-height: 1;
	padding-bottom: 4em;
	min-height: 400px;
}

#navigation{
	background: #00adee;
	color: #fff;
	overflow: hidden;
	max-height: 4em;
}
#logo img{
	padding: 1.25em 0 1em 0.75em;
	width: 200px;
	float: left;
}
#actionCalls {
	float: right;
}
#actionCalls div {
	float: left;
}
#actionCalls div {
	background: #00adee url(images/nav-div.png) left top repeat-y;
	padding: 1.5em 0;
	display: inline-block;
	font-size: 1em;
}
.donate {
/*	background: url(images/nav-donate.png) 1em no-repeat #f6953a !important;
	background-size: 1.25em;*/
	background: #f6953a !important;
	padding-left: 1.75em !important;
	height: 1em;
	position: relative;
}
#actionCalls div span {
	padding: 0 1em;
}

.comment_input{
	width: 85%;
	height: 40%;
	margin: 20px auto;
	display: block;
	padding: 10px;
	color: #333;
	border: none;
	opacity: .8;
	z-index: 20;
}

#presentation{
	min-height: 284px;
}
#presentation img{
	background: #00ADEE;
	display: block;
	margin: 9px auto;
	width: 94%;
	height: auto;
	border: 1px solid #DDD;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 10;
}


#login{
	padding: 40px 10px;
	max-width: 200px;
	margin: 10% auto 0;
	background: #fff;
	background: rgba(255,255,255,.9);
	text-align: center;
}
#login input{
	width: 90%;
	padding: 8px;
	color: #333;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

#presentation{
	position: relative;
}

.add_vote{
	background: grey;
	height: 20px;
	width: 20px;
}
.remove_vote{
	background: orange;
	height: 20px;
	width: 20px;
}

.comments, .feedback{
	list-style: none;
	width: 96%;
	margin: 0 auto 1em;
}
.add_comment {
	border: 1px solid #ddd;
}
.comment{
	margin: 0 auto 1em;
	width: 98%;
}
.comment__user{
	width: 300px;
	float: left;
}
.comment__details{
	background: #fff;
	padding: 8px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.comment__userName{
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 5px;
}
.comment__time{
	font-size: 14px;
}
.comment__feedback{
	float: right;
	color: #999;
}
.comment__text{
	background: rgba(220, 240, 255, 0.4);
	border: 1px solid #ddd;
	border-top: none;
	padding: 8px;
	line-height: 150%;
	color: #666;
	font-size: 1em;
}
.comment__avatar{
	float: left;
	width: 48px;
	height: auto;
	display: block;
	margin-right: 10px;
}
.comment__userName {
	font-size: 1.25em;
	color: #f6953a;
	margin-bottom: 0.25em;
}
.comment__time {
	font-style: italic;
	font-size: 0.75em;
	color: #999;
}
.donate-img{
	position: absolute;
	height: 30px;
	left: 17px;
	top: 17px;
}

.add-comment{
	background: #f6953a;
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 90%;
	margin: 0 auto 10px;
	position: relative;
	z-index: 9;
}

#prev,
#next{
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
}
#prev{
	left: 0;
}
#next{
	right: 0;
}